textBorder {
	color: #ffffff;
	opaque: true;
	border: #222222, 3, 30;
	padding-left: 30;
	padding-right: 30;
}

textInput {
	color: #ffffff;
	opaque: true;
	padding-left: 10;
	font-family: 'Asap Bold';
	font-size: 30;
	font-color: #aaaaaa;
	font-align: west;
	align: west;
}

textInputFocused : textInput {
	color: #ffffff;
	font-color: #000000;
}

textHint {
	padding-left: 10;
	padding-right: 10;
	font-family: 'Asap Bold';
	font-size: 30;
	font-color: #77aaaaaa;
	font-align: west;
	align: west;
}

textNormal : textInput {
	font-color: #000000;
}