whiteCell {
	gradient-radial: #ffffffff, #aaffffff;
}

blackCell {
	gradient-radial: #ff436f8c, #66436f8c;
}

board {
	background-image: background/blue_marble.jpg;
	background-layout: stretch;
}

skill {
	background-image: icon/star.png;
}

speech {
	font-family: 'Asap Bold';
	font-size: 20;
	font-color: #000000;
}

review {
	padding-left: 80;
	padding-right: 80;
}

navigation {
	visibility: hidden;
}

star {
	padding-top: 5;
	padding-bottom: 5;
	padding-left: 5;
	padding-right: 5;
	background-image: icon/star.png;
}

disabledStar : star {
	background-image: icon/disabled_star.png;
}

whiteHighlight {
	visibility: hidden;
	background-image: icon/yellow_move_arrow_good.png;
}

blackHighlight {
	visibility: hidden;
	background-image: icon/yellow_move_arrow_good.png;
}