whiteCell {
	gradient-radial: #ffffffff, #aaffffff;
}

blackCell {
	gradient-radial: #ffb74a50, #66b74a50;
}

board {
	background-image: background/red_marble.jpg;
	background-layout: stretch;
}

skill {
	background-image: icon/star.png;
}

review {
	padding-left: 20;
	padding-right: 20;
	padding-top: 10;
	padding-bottom: 70;
}

navigationPad {
	padding-top: 20;
	padding-bottom: 2;
	padding-left: 120;
	padding-right: 120;
}

navigation {
	font-family: 'Droid Sans Bold';
	font-size: 26;
	font-color: #ffffff;
	font-border: #000000, 2;
	font-align: center;
}

speech {
	font-family: 'Asap Bold';
	font-size: 20;
	font-color: #000000;
}

star {
	padding-top: 5;
	padding-bottom: 5;
	padding-left: 5;
	padding-right: 5;
	background-image: icon/star.png;
}

disabledStar : star {
	background-image: icon/disabled_star.png;
}

whiteHighlight {
	visibility: hidden;
	background-image: icon/yellow_move_arrow_good.png;
}

blackHighlight {
	visibility: hidden;
	background-image: icon/yellow_move_arrow_good.png;
}

telemetry {
	font-family: 'Droid Sans';
	font-size: 20;
	font-color: #00ff00;
}