title {
	font-family: 'Asap Bold';
	font-size: 50;
	font-color: #f6f5ed;
	font-border: #000000, 3;
	font-shadow: #55000000, 10;
	padding-top: 30;
	align: center;
}

description : title {
	font-size: 27;
	font-border: #000000, 3;
	padding-top: 20;
	padding-left: 40;
	padding-right: 40;
	padding-bottom: 0;
	align: north;
}

ribbonTitle {
	font-family: 'Asap Bold'; 
	font-size: 50; 
	font-color: #f6f5ed; 
	font-border: #000000, 4; 
	padding-top: 75; 
	padding-left: 40; 
	padding-right: 40; 
	font-shadow: #44000000, 10;
}

ribbonShortText {
	font-align: center; 
	padding-top: 30;	
	font-size: 27;
	font-border: #000000, 3;
	padding-top: 20;
	padding-left: 40;
	padding-right: 40;
	padding-bottom: 0;
}