title {
	font-family: 'Asap Bold';
	font-size: 60;
	font-color: #f6f5ed;
	font-border: #000000, 5;
	font-shadow: #55000000, 15;
	padding-top: 20;
	align: center;
}

description : title {
	font-size: 27;
	font-border: #000000, 3;
	padding-top: 25;
	padding-left: 40;
	padding-right: 40;
	padding-bottom: 0;
	align: north;
}