text {
	font-family: 'Asap Bold';
	font-size: 20;
	font-color: #272727;
	font-align: northwest;
	padding-left: 10;
	padding-right: 10;
	align: northwest;
}

time {
	font-family: 'Asap Bold';
	font-size: 15;
	font-color: #b0b0b0;
	font-align: southeast;
	padding-left: 10;
	padding-right: 10;
	align: east;
}

speech {
	color: #ffffff;
	border: #000000, 2;
	padding-left: 4;
	padding-right: 4;
	padding-top: 10;
	padding-bottom: 4;
	shadow: #55000000, 8;
}