logo {
	background-shadow: #55000000, 15;
}

beginner : logo {
	background-image: art/coin_silver_icon.png;
}

beginnerLoser : logo {
	background-image: art/coin_silver_icon.png;
}

beginnerOk : logo {
	background-image: art/coin_gold_icon.png;
}

beginnerGood : logo {
	background-image: art/medal_and_coin_blue_icon.png;
}

experiencedLoser : logo {
	background-image: art/medal_and_coin_blue_icon.png;
}

experiencedOk : logo {
	background-image: art/medal_bronze_icon.png;
}

experienceGood : logo {
	background-image: art/medal_silver_icon.png;
}

experiencedExcellent : logo {
	background-image: art/medal_gold_icon.png;
}