loadingText {
	font-family: 'Asap Bold'; 
	font-size: 28; 
	font-color: #f6f5ed; 
	font-border: #000000, 2; 
	font-align: north; 
	align: north;       
}  

buttonPad {
	padding-top: 15;
	padding-bottom: 15;
	padding-left: 50;
	padding-right: 50;
}

extraPad {
	padding-left: 0;
	padding-right: 0;
}

control {
	padding-left: 50;
	padding-right: 50;
}

star {
	padding-top: 5;
	padding-bottom: 5;
	padding-left: 5;
	padding-right: 5;
	background-image: icon/star.png;
}

disabledStar : star {
	background-image: icon/disabled_star.png;
	background-transparency: 50%;
}

starPad {
	padding-top: 5;
	padding-bottom: 2;
	padding-left: 60;
	padding-right: 60;
}