border {
	padding-top: 5;
	padding-bottom: 5;
	padding-left: 5;
	padding-right: 5;
}

buttonPad {
	padding-top: 10;
	padding-bottom: 10;
	padding-left: 10;
	padding-right: 10;
}

panelPad {
	padding-top: 30;
	padding-bottom: 30;
	padding-left: 40;
	padding-right: 40;
}

panelShadow {
	color: black;
	border: black, 14, 30;
	shadow: #55000000, 15;
}

panelSurface {
	padding-top: 80;
	padding-left: 10;
	padding-right: 10;
	padding-bottom: 10;
	color: #a7a7a7;
	border: #171717, 1, 30;
}

panelInner {
	color: #878787;
	border: #00000000, 8, 30;
}

panelBorder {
	border: #f6f5ed, 8, 30;
}

panelBackground {
	border: #000000, 14, 30;
}

panelShine {
	color: #55ffffff;
	border: #01ffffff, 8, 50;
}

panelInset {
	padding-top: 10;
	padding-bottom: 10;
	padding-left: 10;
	padding-right: 10;
}

panelName {
	font-family: 'Asap Bold';
	font-size: 40;
	font-color: #f6f5ed;
	font-border: #000000, 3;
	font-align: center;
	align: center;
}

panelDescription {
    font-family: 'Asap Bold';
    font-size: 26;       
    font-color: #272727;		
	font-align: northwest;
	padding-left: 10;
	padding-right: 10;
	align: northwest;	

}

warningIcon {
	background-image: art/circle_gloss_exclamation.png;
	align: northeast;
	padding-left: 20;
	padding-right: 5;
}