whiteCell {
	gradient-radial: #aafbf5db, #77fbf5db;
}

blackCell {
	gradient-radial: #77934828, #44934828;
}

board {
	background-image: background/dark_wood.jpg;
	background-layout: stretch;
	color: #ff0011;
}

skill {
	background-image: icon/star.png;
}

speech {
	font-family: 'Asap Bold';
	font-size: 20;
	font-color: #000000;
}

review {
	padding-left: 80;
	padding-right: 80;
}

navigation {
	visibility: hidden;
	
}

star {
	padding-top: 5;
	padding-bottom: 5;
	padding-left: 5;
	padding-right: 5;
	background-image: icon/star.png;
}

disabledStar : star {
	background-image: icon/disabled_star.png;
}

whiteHighlight {
	visibility: hidden;
	background-image: icon/yellow_move_arrow_good.png;
}

blackHighlight {
	visibility: hidden;
	background-image: icon/yellow_move_arrow_good.png;
}