loadingText {
	font-family: 'Asap Bold';
	font-size: 28;
	font-color: #f6f5ed;
	font-border: #000000, 2;
	font-align: north;
	align: north;
}

advertIcon {
	/*background-image: art/no_sale_flat_simple.png;
	background-shadow: #55000000, 15;
	padding-top: 60;
	padding-bottom: 30;*/
	background-image: art/padlock_unlock_keyhole.png;
	background-shadow: #55000000, 15;
	padding-top: 50;
	padding-bottom: 40;	
}

unlockIcon {
	background-image: art/padlock_unlock_keyhole.png;
	background-shadow: #55000000, 15;
	padding-top: 50;
	padding-bottom: 40;
}

buttonPad {
	padding-top: 10;
	padding-bottom: 10;
	padding-left: 100;
	padding-right: 100;
}