main {	
	/*background-image: background/dark_wood.jpg;*/
	/*background-layout: stretch;*/	
	background-image: background/zig_zag_contrast.png;
	/*background-image: background/question_mark.png;*/
	/*background-image: background/wood_background.png;*/
	background-layout: tile;
}

mainSwitch {
	background-image: background/zag_zig_contrast.png;
	background-layout: tile;
}

mainBurst {	
	background-image: background/sun_burst_high_grey_small.png;
	background-layout: stretch;	
}

mainStripe {	
	background-image: background/stripe.png;
	background-layout: tile;	
}

mainGradient {
	gradient-radial: #dd222222, #ddffffff;
	color-over: #44707070;
}

mainImage {
	background-image: art/splash_pawn_water_mark_very_light.png;
	padding-top: 140;
	padding-left: 50;
	padding-right: 50;
	padding-bottom: 10;
}

mainCopyright {
	font-family: 'Asap Bold';
	font-size: 18;
	font-color: #f6f5ed;
	font-border: #000000, 3;
	font-shadow: #55000000, 15;
	padding-left: 40;
	padding-right: 40;
	padding-top: 0;
	padding-bottom: 0;
	align: center;
}