logo {
	padding-left: 90; 
    padding-right: 90; 	
	background-shadow: #55000000, 15;
}

beginner : logo {
	background-image: art/coin_silver_icon.png;
}

beginnerLoser : logo {
	background-image: art/coin_silver_icon.png;
}

beginnerOk : logo {
	background-image: art/coin_gold_icon.png;
}

beginnerGood : logo {
	background-image: art/medal_and_coin_blue_icon.png;
}

experiencedLoser : logo {
	background-image: art/medal_and_coin_blue_icon.png;
}

experiencedOk : logo {
	background-image: art/medal_bronze_icon.png;
}

experiencedGood : logo {
	background-image: art/medal_silver_icon.png;
}

experiencedExcellent : logo {
	background-image: art/medal_gold_icon.png;
}

computerLogo : logo {
	padding-left: 100; 
    padding-right: 100; 	
	padding-bottom: 20;
}

computerSkill0 : computerLogo {
	padding-left: 110; 
    padding-right: 110; 
	background-image: art/icon_mini_thin_cpu_pad.png;
}

computerSkill1 : computerLogo {
	padding-left: 90; 
    padding-right: 90; 
	background-image: art/icon_dual_cpu_pad.png;
}

computerSkill2 : computerLogo {
	background-image: art/icon_less_pins_cpu_pad.png;
}

computerSkill3 : computerLogo {
	background-image: art/icon_less_pins_cpu_pad.png;
}

computerSkill4 : computerLogo {
	padding-left: 90; 
    padding-right: 90; 
	background-image: art/icon_double_pins_cpu_pad.png;
}

computerSkill5 : computerLogo {
	padding-left: 90; 
    padding-right: 90; 
	background-image: art/icon_double_pins_cpu_pad.png;
}